on: [push]

jobs:
  test_notify:
    runs-on: ubuntu-latest
    name: Test the action on success
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Success
        run: exit 0
      - name: Action
        uses: ./ 
        if: always()
        with:
            job-status: ${{ job.status }}
            slack-bot-token: ${{ secrets.SLACK_TOKEN }}
            channel: slack-bot-test-test
          
